/* 
    Document   : login
    Created on : 21/06/2015, 16:22:23
    Author     : Carolini
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    -fx-background-image: url("img1.jpg");
}

#pane { 
    -fx-background-image: url("img1.jpg");
}
